*{ margin: 0;
 padding: 0;

}

.cabeçalho{
    background-color: #020202;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-imagem{
width: 7%;
}

.cabeçalho-lista{
 
}

.cabeçalho-lista-item{
display: inline-block;
margin: 0 16px;
font-size: 24px;
}

